@charset "UTF-8";

:root{
    --cor01: #49a09d;
    --cor02: #5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}

body,html{
    background-color: var(--cor02);
    background-image:url(../media/background.jpg);
    background-size: cover;
    background-position: center center;

    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}
section#login{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    background-color: white;

    width: 250px;
    height: 515px;

    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    overflow: hidden;

    transition: width .4s, height .4s;
    transition-timing-function: ease; 
}

section#login > div#imagem{
    background-image: url(../media/predio.jpg);
    background-position: bottom center;
    background-size: cover;

    height: 200px;

    display: block;
}   

section#login > div#formulario{
    padding: 10px;
    display: block;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
}
form label{
    display: none;
}
form > div.campo{
    background-color: var(--cor02);
    border: 2px solid var(--cor02);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > span{
    color: white;
    /* background-color: black; */
    font-size: 2em;
    width: 40px;
    padding: 5px;
    padding-top: 4px;
}
div.campo > input{
    font-size: 1em;
    background-color: #68e5e1;
    width: calc(100% - 45px);
    height: 100%;
    border: none;
    border-radius: 7px;
    padding: 4px;
    transform: translate(1px, -12px);
}
div.campo > input:focus-within{
    background-color: white;
    border: none;
}
form > input[type=submit]{
    display: block;

    font-size: 1em;
    
    width: 100%;
    height: 40px;
    
    background-color: var(--cor01);
    color: white;
    
    border: none;
    border-radius: 5px;
    
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #2d6462;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px ;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none; 
}
form > a.botao:hover{
    background-color: #68e5e1;
}
form > a.botao > span{
    font-size: 0.8em;
}